.transaction {
  width: 300px;
  height: 365px;
  margin: 25px auto;
  border: 1px solid #000;
}

.transaction-buttons > button {
  width: 50%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
}

.transaction-buttons > button:hover {
  cursor: pointer;
  font-weight: bold;
}

.transaction-buttons > button:focus {
  outline: none;
}

.transaction-buttons > button:first-of-type {
  border-right: 1px solid #000;
}

.buy,
.sell {
  background: #fff;
}

.button-green {
  background: #21ce99;
  color: #fff;
  font-weight: bold;
}

.button-red {
  background: #fe4747;
  color: #fff;
  font-weight: bold;
}

.transaction-info {
  padding-left: 35px;
}

.transaction-info p,
.transaction-info label {
  display: block;
  padding-top: 17px;
}

.transaction-info .value {
  float: right;
  padding-right: 35px;
}

.transaction-info input {
  width: 40px;
  float: right;
  margin-right: 35px;
  text-align: right;
  padding: 3px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.transaction-info input:focus {
  outline-color: #21ce99;
}

.transaction-errors {
  color: #fe4747;
  font-size: 14px;
  font-weight: bold;
  padding-top: 6px;
  margin-bottom: -10px;
}

.transaction .submit {
  margin-top: 20px;
  padding: 10px 102px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.transaction .submit:hover:enabled {
  cursor: pointer;
}

.transaction .submit:focus {
  outline-color: none;
}

.buy-button {
  background: #1db889;
}

.sell-button {
  background: #fe4747;
}

.watchlist {
  display: block;
  border: 1px solid #21ce99;
  padding: 10px 58px;
  background: #fff;
  color: #1db889;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 35px;
  margin-top: 15px;
}

.watchlist:hover {
  cursor: pointer;
  border: 1px solid #1de4a8;
  color: #1de4a8;
}

.watchlist--remove {
  padding: 10px 35px;
}
