.portfolio {
  margin-top: 70px;
}

.portfolio h1,
.portfolio h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

.portfolio h1 {
  font-size: 24px;
}

.portfolio-info h3 {
  padding: 10px;
}

.info-value {
  text-align: right;
}

.total {
  font-weight: bold;
}

.portfolio-chart {
  margin-top: 15px;
}

@media only screen and (min-width: 700px) {
  .portfolio-info-container {
    display: flex;
  }

  .portfolio-info {
    width: 50%;
    padding-top: 30px;
  }

  .info-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }

  .info-bottom {
    display: flex;
    justify-content: space-between;
  }

  .info-value {
    display: block;
    padding: 10px 0;
  }

  .portfolio-chart {
    width: 50%;
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .portfolio {
    width: 900px;
    margin: 25px auto;
  }

  .portfolio h2 {
    text-align: left;
    font-size: 24px;
  }

  .portfolio h1 {
    text-align: left;
    font-size: 28px;
  }
}
