.company {
  margin-top: 70px;
}

.company-info h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.ticker-heading {
  font-size: 16px;
  font-weight: normal;
  color: #aaa;
}

.chart-container {
  margin: 0;
  padding: 0;
}

.chart-button-container > button {
  margin: 0 3px;
  padding-top: 10px;
  background: #fff;
  border: none;
}

.chart-button-container > button:first-of-type {
  padding-left: 15px;
}

.chart-button-container > button:hover {
  cursor: pointer;
  color: #21ce99;
}

.chart-button-container > button:focus {
  outline: none;
}

.company .description {
  margin-top: 20px;
  padding: 0 15px;
}

.button-selected {
  color: #21ce99;
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {
  .company {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .company-info h3 {
    font-size: 24px;
  }

  .ticker-heading {
    font-size: 20px;
  }

  .chart-button-container {
    padding: 20px 0;
  }

  .chart-button-container > button:first-of-type {
    padding-left: 30px;
  }
}
